
header{
    width: 100%;
    padding: 0%;
    margin: 0%;
}
#header-bottom li{
    margin: 5px 15px 5px 15px;
    line-height: 30px;
}



#header-bottom li a{

    color: white;
    border: 2px solid black;
    display: block;
    border-radius: 30px ;
    background-color: black;
    font-size: 16px;
    padding: 10px 15px 10px 15px;

}

#header-bottom li a:hover{
    background-color: white;
    color: black;
    border: 2px solid greenyellow;
}

#footer-color h6{
    color: white;
}
#footer-color  p{
    color: white;
}
#footer-bottom-link{
    text-decoration: none;
}        
#header-links p a{
    text-decoration: none;
}
#header-link p a
{
    text-decoration: none;
}




/* sign form */
body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(to right, #212022, #4d4b46);
    background-repeat: no-repeat
}

input,
textarea {
    background-color: #F3E5F5;
    border-radius: 50px ;
    padding: 12px 15px 12px 15px ;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border: 1px solid #F3E5F5;
    font-size: 16px;
    color: #000 ;
    font-weight: 400
}

input:focus,
textarea:focus {
    -moz-box-shadow: none ;
    -webkit-box-shadow: none ;
    box-shadow: none ;
    border: 1px solid #D500F9 ;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none ;
    -webkit-box-shadow: none ;
    box-shadow: none;
    outline-width: 0
}

.card {
    border-radius: 0;
    border: none
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px
}

.card2 {
    width: 50%;
    background-image: linear-gradient(to right, #0f3381, #4f526f)
}



.heading {
    margin-bottom: 60px ;
}

::placeholder {
    color: #000;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000 ;
}

::-ms-input-placeholder {
    color: #000;
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px;
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
    padding: 15px;
    cursor: pointer;
    border: none ;
    margin-top: 40px
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #D500F9, #FFD54F)
}

.btn-white {
    border-radius: 50px;
    color: #D500F9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #D500F9 
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9)
}

a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
    margin-top: 50px !important
}

.sm-text {
    font-size: 15px
}
#create-sign{
    border-radius: 50px;
    color: #D500F9;
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #D500F9 
    

}
#create-sign a{
   color: white;
   text-decoration: none;
   font-weight: bold;
    

}
#create-sign:hover {
    color: #fff;
    background-image: linear-gradient(to right, #D500F9, #FFD54F)
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .card2 {
        width: 100%
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

    .card2 {
        padding: 50px
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}
